
<div style="text-align: center;"> 
  Top Artists 
  <div class="">
    <div id="genid">
      <ul></ul>
      
      
     

      <table id="t" class="table table-bordered table-striped  tableClass">
        <thead id="thead">
          <tr>
            <th>
              <a> Artist </a>
            </th>
            <th>
              <a> Count </a>
            </th>
          
          </tr>
        </thead>

        <tbody>
          <div *ngIf="showLoader" class="mt-5 text-center">
            <img src="https://chickenrecipeseasy.top/images/loader.gif"/>
         </div>
          <ng-container *ngFor="let row of artistData; let i = index">
            <tr>
              <td><a href={{row.url}}> {{row.name}}</a>
                </td>
                <td >
                  {{row.playcount}}
                </td>
              </tr>
          </ng-container>
        </tbody>
      </table>
     
    </div>
    

      </div>
    </div> 


   